<html xmlns:th="https://www.thymeleaf.org">
<head th:include="~{fragments/head :: head}"></head>
<body>

    <header th:include="~{fragments/header :: header}"></header>
    <main >
        <div th:include="~{fragments/errorMessage}"></div>
        <div class="app_main__login_form">
            <h1 th:text="${titre}" ></h1>
            <hr>
            <div>
                <p> insérer les informations puis cliquer sur envoyer</p>
            </div>
            <form name="monForm" method="post">
                <div class="form-line">
                    <label>Nom *</label>
                    <input type="text" th:value="${patient?.nom}" name="nom" placeholder="Votre nom" required>
                </div>
                <div class="form-line">
                    <label>Prénom *</label>
                    <input type="text" th:value="${patient?.prenom}" name="prenom" placeholder="Votre prénom" required>
                </div>

                <div class="form-line">
                    <label>Telephone </label>
                    <input type="tel" th:value="${patient?.telephone}" name="telephone" placeholder="06 56 78 89 09" >
                </div>

                <div class="form-line">
                    <label>Email * </label>
                    <input type="email" th:value="${patient?.email}" name="email" placeholder="email@em.ail" required>
                </div>

                <div class="form-line">
                    <label>Photo link </label>
                    <input type="text" th:value="${patient?.photo}" name="photo" placeholder="Votre adresse" >
                </div>

                <div class="form-line">
                    <label>Ville *</label>
                    <select name="ville_depuis_template" required>
                        <option>Selectionner une ville</option>
                        <option th:each="ville : ${villes}"
                                th:value="${ville?.id}"
                                th:utext="${ville?.nom}"
                                th:selected="${ville?.id == patient?.ville?.id}"
                        ></option>
                    </select>
                </div>

                <select  name="pc">
                    <option value="3" >LILLE</option>
                    <option value="4">PARIS</option>
                </select>

                request.getParameter("pc") ====> "3"
                <select  name="pc">
                    <option value="TYPE_ASUS">Asus</option>
                    <option value="TYPE_HP">Hp</option>
                </select>
                request.getParameter("pc") ====> TYPE_ASUS


                <div class="form-line">
                    <button type="submit">Envoyer</button>
                </div>

            </form>
        </div>

    </main>
    <footer th:include="~{fragments/footer :: footer}"></footer>
</body>
</html>